

  <body class="w-screen h-screen bg-gray-300 ">
    <div class="w-full h-full flex">
      <!-- mobile-nav -->
      <nav
      class="min-[501px]:hidden z-10 w-full bg-white h-16 rounded-t-[50%] fixed bottom-0"
    >
      <div class="absolute mobile-nav-active">
        <a *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
          ><img
            class="absolute-center"
            src="/assets/icons/icons/home-mobile-active.svg"
            alt=""
        /></a>
      </div>
      <div class="absolute mobile-nav-1">
        <a *ngIf="user.id" [routerLink]="['/messages/', user.id]"
          ><img
            class="absolute-center"
            src="/assets/icons/icons/msg.png"
            alt=""
        /></a>
      </div>
      <div class="absolute mobile-nav-2">
        <a *ngIf="user.id" [routerLink]="['/programs/', user.id]"
          ><img
            class="absolute-center"
            src="/assets/icons/icons/programs.svg"
            alt=""
        /></a>
      </div>
      <div class="absolute mobile-nav-3">
        <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
          ><img
            class="absolute-center"
            src="/assets/icons/icons/community.svg"
            alt=""
        /></a>
      </div>
      <div class="absolute mobile-nav-4">
        <a *ngIf="user.id" [routerLink]="['/settings/', user.id]">
            <img
            class="absolute-center"
            src="/assets/icons/icons/settings.svg"
            alt=""
        /></a>
      </div>
    </nav>
    <!-- tablet-nav -->
    <nav
      class="max-[501px]:hidden min-[1024px]:hidden h-[64px] py-[8px] z-10 border-t-2 border-[silver] bg-white fixed bottom-0 w-full flex items-center justify-evenly"
    >
      <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
        ><img
          class="w-7"
          src="/assets/icons/icons/dashboard-active.svg"
          alt=""
        /><span class="text-xs text-figma-nav-green"
          >Dashboard</span
        ></a
      >
      
      <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/programs/', user.id]"
        ><img
          class="w-7"
          src="/assets/icons/icons/programs.svg"
          alt=""
        /><span class="text-xs">Programs</span></a
      >
      <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/community/', user.id]"
        ><img
          class="w-7"
          src="/assets/icons/icons/community.svg"
          alt=""
        /><span class="text-xs">Community</span></a
      >
      <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/messages/', user.id]"
        ><img
          class="w-7"
          src="/assets/icons/icons/msg.png"
          alt=""
        /><span class="text-xs">Messages</span></a
      >
      <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/settings/', user.id]"
        ><img
          class="w-7"
          src="/assets/icons/icons/settings.svg"
          alt=""
        /><span class="text-xs">Settings</span></a
      >
    </nav>
    <!-- desktop-nav -->
    <nav class="bg-white hidden lg:block w-1/4 overflow-y-auto px-3">
      <img src="assets/images/text-logo.png" alt="" />
      <div *ngIf="user"  class="flex items-center gap-3 justify-center  mt-3">
        <img class="hidden xl:block xl:h-10 xl:w-10 rounded-full object-cover" [src]="user.profile_image" alt="Profile_Image"/>
        <div>
        <h1 class="text-lg font-medium"> {{ user.prenom }} {{ user.nom }}</h1>
        <p class="text-md font-medium text-[#61646B]"> {{ user.email }}</p>
       
    </div>
      </div>
      <div *ngIf="errorMessage">
        <p class="error">{{ errorMessage }}</p>
      </div>
     
      <ul class="w-fit flex flex-col mx-auto mt-8">
        <li class="nav-li">
          <img
            src="/assets/icons/icons/dashboard-active.svg"
            alt="Dashboard Icon"
            class="icon"
            
          />
          <a class="text-figma-nav-green underline-custom" routerLink="/dashboard">Dashboard</a>
        </li>
        
        <li class="nav-li">
          <img
            src="/assets/icons/icons/programs.svg"
            alt="Programs Icon"
            class="icon"
          />
          <a *ngIf="user.id" [routerLink]="['/programs/', user.id]">Programs</a>
        </li>
        <li class="nav-li">
          <img
            src="/assets/icons/icons/community.svg"
            alt="Community Icon"
            class="icon"
          />
          <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
            >Community</a
          >
        </li>
        <li class="nav-li">
          <img
          src="/assets/icons/icons/msg.png"
            alt="Articles Icon"
            class="icon"
          />
          <a *ngIf="user.id" [routerLink]="['/messages/', user.id]">Messages</a>
        </li>
        <li class="nav-li">
          <img
            src="/assets/icons/icons/settings.svg"
            alt="Settings Icon"
            class="icon"
          />
          <a *ngIf="user.id" [routerLink]="['/settings/', user.id]">Settings</a>
        </li>
        <li class="nav-li mt-3">
          <img
            src="/assets/icons/icons/logout.svg"
            alt="Settings Icon"
            class="icon"
          />
          <a href="#">Logout</a>
        </li>
      </ul>
    </nav>
      <!-- HERO desktop-->
      <main class=" flex-1 flex flex-col items-center overflow-y-auto pb-[calc(6rem)] min-[500px]:pb-[80px] min-[1024px]:pb-2" 
      [ngClass]="{
        'bg-[#3971FF7D]': user.etats[user.etats.length - 1]?.mood === 'sad',
           'bg-[#FF46397D]': user.etats[user.etats.length - 1]?.mood === 'angry',
        'bg-[#DBD5FD]': user.etats[user.etats.length - 1]?.mood === 'afraid',
        'bg-[#F4A84CA1]': user.etats[user.etats.length - 1]?.mood === 'anxious',
        'bg-[#FAFCD7]': user.etats[user.etats.length - 1]?.mood === 'happy',
        'bg-[#d0d1f199]': user.etats[user.etats.length - 1]?.mood === 'bored',
        'bg-[#EED7DF]': user.etats[user.etats.length - 1]?.mood === 'shy'
      }">

        <div class="w-full pl-4 pr-4 max-[500px]:pb-4">
         <div class="flex place-items-end justify-end">
          <div class=" flex justify-center p-[6px] text-white "> 
            <div class="fixed w-60 z-0 top-0 right-0"> <img src="/assets/icons/icons/header.svg" alt="" class=""> </div> 
            <a href="home.html" class="h-[30px] w-[30px] z-10 min-[1000px]:hidden fixed top-4 right-4"><img  src="/assets/icons/icons/logout-mobile.svg" alt=""></a> 
          </div>
          </div> 
          <div class="flex justify-between max-[430px]:mb-4">
          <div class="font-bold  pt-4 text-xl max-[430px]:text-lg text-figma-blue  ">
            <h1 class="max-[430px]:whitespace-pre">
            Today you are feeling {{ user.etats[user.etats.length - 1]?.mood}}
            </h1>
         </div>
         <div class="flex justify-center items-center font-semibold max-[430px]:items-end min-[1440px]:-mb-[5%] ">
          
          <a
          class="text-white rounded-lg px-3 py-1 shadow-xl z-10 mt-[15%] min-[471px]:-ml-[20%] mb-10  max-[430px]:text-xs max-[430px]:whitespace-pre max-[430px]:-ml-10"
          [routerLink]="['/qst1/', user.id]"
          [ngClass]="{
            'bg-[#3971FF7D]': user.etats[user.etats.length - 1]?.mood === 'sad',
            'bg-[#FF4639]': user.etats[user.etats.length - 1]?.mood === 'angry',
            'bg-[#9F86BAA3]': user.etats[user.etats.length - 1]?.mood === 'afraid',
            'bg-[#F4A84CA1]': user.etats[user.etats.length - 1]?.mood === 'anxious',
            'bg-[#BAC018]': user.etats[user.etats.length - 1]?.mood === 'happy',
            'bg-[#080959C9]': user.etats[user.etats.length - 1]?.mood === 'bored',
            'bg-[#ED2469]': user.etats[user.etats.length - 1]?.mood === 'shy'
          }">
          <span
          [ngStyle]="{
            color: getMoodButtonTextColor(user.etats[user.etats.length - 1]?.mood || '') 
          }"
          class="font-bold"
        >
        Take today’s assessment
        </span>         </a>
        
          <div class="w-[70px] max-[470px]:hidden z-10 
          min-[471px]:-ml-[5%]  min-[1440px]:w-[100px] min-[2000px]:w-[200px]">
<img
  [src]="'' + getMoodImagelifjenb(user.etats[user.etats.length - 1]?.mood || '')"
  [alt]="user.etats[user.etats.length - 1]?.mood"
/>
</div>

         </div> 

        </div>
        <div class="flex-col items-center justify-center m-auto min-[1440px]:mt-[5%]"> 
       
          <div class="bg-white rounded-md shadow-md px-10 py-2 max-[430px]:px-2">
            <p
            class="font-bold text-lg"
            [ngStyle]="{
              color: getMoodColor(user.etats[user.etats.length - 1]?.mood || '') 
            }"
          >
            Mood History
          </p>            <div class="mt-2 flex justify-between">
              <!-- Afficher les 7 derniers moods -->
              <div
                *ngFor="let etat of user.etats.slice(-7)"
                class="text-center font-semibold text-xs text-[#61646B]"
              >
                <div
                  class="character-container-full w-14 h-14 max-[430px]:w-8 max-[430px]:h-8"
                  [ngClass]="{
                    'bg-[#3971FF7D]': etat.mood === 'sad',
                    'bg-[#FF46397D]': etat.mood === 'angry',
                    'bg-[#9F86BAA3]': etat.mood === 'afraid',
                    'bg-[#F4A84CA1]': etat.mood === 'anxious',
                    'bg-[#FAFCD7]': etat.mood === 'happy',
                    'bg-[#080959C9]': etat.mood === 'bored',
                    'bg-[#EED7DF]': etat.mood === 'shy'
                  }"
                >
                  <!-- L'image correspondant à chaque mood -->
                  <img
                    class="w-[40px] max-[430px]:w-[20px]"
                    [src]="'/assets/images/' + etat.mood + '.png'"
                    [alt]="etat.mood"
                  />
                </div>
                <!-- Afficher la date du mood -->
                <p class="pt-2">{{ etat.date | date: 'EEE' }}</p>
              </div>
            </div>
          </div>
          
        <!-- les graphes -->
        

        <div class=" flex max-[430px]:flex-col justify-between mt-4 max-[430px]:gap-4 h-[50%] items-center ">

          <div class="w-[49%] h-[100%]  max-[430px]:w-[100%] bg-white rounded-md shadow-md px-4 py-[3%]  max-[430px]:order-1">
            <p
            class="font-bold mb-4 max-[430px]:text-lg"
            [ngStyle]="{
              color: getMoodColor(user.etats[user.etats.length - 1]?.mood || '') 
            }"
          >
          How you slept this week          </p>   
           
          <canvas  id="sleep" class=""></canvas>
        </div>
          <div class="w-[49%] h-[100%]  bg-white max-[430px]:w-[100%] rounded-md shadow-md px-4 py-[3%] max-[430px]:order-1">
            <p
            class="font-bold mb-4 max-[430px]:text-lg"
            [ngStyle]="{
              color: getMoodColor(user.etats[user.etats.length - 1]?.mood || '') 
            }"
          >
          Hours studied this week          </p>   

            <canvas id="study"  class=""></canvas>
          </div>
        </div>
      </div>


         </div>
        
      </main>
    </div>
    <script>
      //graphe sleep
      // Créer un contexte pour le graphique
const ctx = document.getElementById('sleep').getContext('2d');

// Dégradé de couleur pour le fond
const gradient = ctx.createLinearGradient(0, 0, 0, 400);
gradient.addColorStop(0, 'rgba(239,113,63, 0.4)');   // Couleur orange clair
gradient.addColorStop(1, 'rgba(239,113,63, 0)');     // Couleur transparente

// Configuration du graphique
const config = {
    type: 'line',
    data: {
        labels: ['M','T', 'W', 'T', 'F', 'S', 'S'],  // Labels des jours
        datasets: [{
            label: 'Hours',
            data: [8, 7, 9, 5, 6, 8, 4,9],  // Données pour chaque jour
            fill: true,
            backgroundColor: gradient,
            borderColor: 'rgba(255, 99, 71, 0.8)',
            borderWidth: 2,
            tension: 0.4,  // Pour les courbes lissées
            pointBackgroundColor: 'rgba(255, 99, 71, 0.8)',  
            pointBorderColor: 'rgba(255, 99, 71, 0.8)',
            pointHoverRadius: 8,
            pointRadius: function(context) {
                // Mettre en évidence un point particulier (par exemple, le jour "S")
                return context.dataIndex === 4 ? 6 : 0;
            },
        }]
    },
    options: {
        plugins: {
            legend: {
                display: false,  // Cacher la légende
            }
        },
        scales: {
            x: {
                grid: {
                    display: false,  // Cacher les lignes de la grille
                },
                ticks: {
                    color: '#888',  // Couleur des labels en bas
                }
            },
            y: {
                display: false,  // Cacher l'axe y
            }
        },
        elements: {
            line: {
                borderCapStyle: 'round'  // Coins arrondis
            }
        }
    }
};

// Créer le graphique
const myChart = new Chart(ctx, config);

// Graphe study
// Graphe study
// Graphe study
const ctx1 = document.getElementById('study').getContext('2d');

const study = new Chart(ctx1, {
    type: 'bar',  
    data: {
        labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'], 
        datasets: [{
            label: 'Hours',
            data: [12, 19, 3, 5, 2, 3, 8],  
            backgroundColor: '#003059',
            borderColor: '#003059',
            borderWidth: 1
        }]
    },
    options: {
        plugins: {
            legend: {
                display: false  // Cacher la légende
            },
            tooltip: {
                enabled: false  // Désactiver les info-bulles
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#888',  
                }
            },
            y: {
                beginAtZero: true,
                display: false  // Masquer l'axe Y
            }
        },
        elements: {
            bar: {
                borderRadius: 10, 
            }
        },
       
    }
});



     </script>
  </body>

