.sidebar {
    height: screen;
    position: fixed;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  .nav-li {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .icon {
    width: 24px;
  }
  