
  <body class="w-screen h-screen bg-gray-300">
    
    <div class="relative w-full h-full flex">
      <!-- mobile-nav -->
      <nav
        class="min-[501px]:hidden z-10 w-full bg-white h-16 rounded-t-[50%] fixed bottom-0"
      >
        <div class="absolute mobile-nav-active">
          <a routerLink="/dashboard"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/home-mobile-active.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-1">
          <a href="#"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/articles.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-2">
          <a routerLink="/programs"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/programs.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-3">
          <a routerLink="/community"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/community.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-4">
          <a routerLink="/settings"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/settings.svg"
              alt=""
          /></a>
        </div>
      </nav>
      <!-- tablet-nav -->
      <nav
        class="max-[501px]:hidden min-[1024px]:hidden h-[64px] py-[8px] z-10 border-t-2 border-[silver] bg-white fixed bottom-0 w-full flex items-center justify-evenly"
      >
        <a class="tablet-nav-item" routerLink="/dashboard"
          ><img
            class="w-7"
            src="/assets/icons/icons/dashboard-active.svg"
            alt=""
          /><span class="text-xs text-figma-nav-green"
            >Dashboard</span
          ></a
        >
        <a class="tablet-nav-item" href="#"
          ><img
            class="w-7"
            src="/assets/icons/icons/articles.svg"
            alt=""
          /><span class="text-xs">Articles</span></a
        >
        <a class="tablet-nav-item" routerLink="/programs"
          ><img
            class="w-7"
            src="/assets/icons/icons/programs.svg"
            alt=""
          /><span class="text-xs">Programs</span></a
        >
        <a class="tablet-nav-item" routerLink="/community"
          ><img
            class="w-7"
            src="/assets/icons/icons/community.svg"
            alt=""
          /><span class="text-xs">Community</span></a
        >
        <a class="tablet-nav-item" routerLink="/settings"
          ><img
            class="w-7"
            src="/assets/icons/icons/settings.svg"
            alt=""
          /><span class="text-xs">Settings</span></a
        >
      </nav>
      <!-- desktop-nav -->
      <nav class="bg-white hidden lg:block w-1/4 overflow-y-auto px-3">
        <img src="assets/images/text-logo.png" alt="" />
        <div
        class="flex items-center gap-3 justify-center  mt-3"
      >
        <img class="hidden xl:block xl:h-10 xl:w-10 rounded-full object-cover" src="assets/Elizabeth Gintama Icon.jpeg" alt="" />
        <div>
          <p class="text-lg font-medium">Elizabeth</p>
          <p class="text-md font-medium text-[#61646B]">
            Elizabeth&#64;example.com
          </p>
        </div>
      </div>
        <ul class="w-fit flex flex-col mx-auto mt-8">
          <li class="nav-li">
            <img
              src="/assets/icons/icons/dashboard-active.svg"
              alt="Dashboard Icon"
              class="icon"
              
            />
            <a class="text-figma-nav-green underline-custom" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/articles.svg"
              alt="Articles Icon"
              class="icon"
            />
            <a href="#">Articles</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/programs.svg"
              alt="Programs Icon"
              class="icon"
            />
            <a routerLink="/programs">My Programs</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/community.svg"
              alt="Community Icon"
              class="icon"
            />
            <a routerLink="/community"
              >Community</a
            >
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/settings.svg"
              alt="Settings Icon"
              class="icon"
            />
            <a routerLink="/settings">Settings</a>
          </li>
          <li class="nav-li mt-3">
            <img
              src="/assets/icons/icons/logout.svg"
              alt="Settings Icon"
              class="icon"
            />
            <a href="#">Logout</a>
          </li>
        </ul>
      </nav>
      <main class="relative transition-colors flex-1 flex flex-col pt-2 pb-[calc(6rem)] h-full overflow-y-auto min-[500px]:pb-[80px] min-[1024px]:pb-2">
        <div class="flex items-center justify-between px-4 pt-3"> 
          <h2 class=" text-figma-nav-green font-semibold text-base fixed mt-8">
            Assessment
          </h2>
          <div class=" fixed flex items-center gap-4 right-4 mt-8">
            <span class="border-[1px] border-figma-nav-green  z-10 text-figma-nav-green font-semibold px-[12px] py-[4px] rounded-[30px] bg-[rgba(255,255,255,0.80)]">1 of 3</span>
            <div class=" flex justify-center p-[6px] "> 
              <div class="fixed z-0 top-0 right-0 min-[370px]:-top-[40px]"> <img src="./assets/icons/header.svg" alt="" class=""> </div> 
               <a href="home.html" class="h-[30px] w-[30px] z-10 min-[1000px]:hidden"><img  src="./assets/icons/logout-mobile.svg" alt=""></a> 
            </div>
          </div>
        </div>
        <h1 class="text-figma-blue text-lg text-center font-semibold px-4 mt-2 max-[730px]:mt-16 ">How would you rate your

          sleep quality?</h1>
        <div class="flex-1 pt-2 grid items-center content-center justify-items-center grid-cols-[1fr_28px_1fr]">
          <div class="sleep-info">
            <h4>Excellent</h4>
            <p>7-8 hours</p>
          </div>
          <div data-id="4" data-quality="excellent" class="sliding-part rounded-t-xl ">
            <div class="circle "></div>
          </div>
          <div class="character-container bg-[#F4F3AC]">
            <img src="/assets/images/happy.png" alt="">
          </div>
          
          <div class="sleep-info">
            <h4>Good</h4>
            <p>6-7 hours</p>
          </div>
          <div data-id="3" data-quality="good" class="sliding-part ">
            <div class="circle"></div>
          </div>
          <div class="character-container bg-[#08095999]">
            <img src="/assets/images/bored.png" alt="">
          </div>
          
          <div class="sleep-info">
            <h4>Fair</h4>
            <p>5 hours</p>
          </div>
          <div data-id="2" data-quality="fair" class="sliding-part">
            <div class="circle"></div>
          </div>
          <div class="character-container bg-[#3971FF7D]">
            <img src="/assets/images/sad.png" alt="">
          </div>
          
          <div class="sleep-info">
            <h4>Poor</h4>
            <p>3-4 hours</p>
          </div>
          <div data-id="1" data-quality="poor" class="sliding-part">
            <div class="circle"></div>
          </div>
          <div class="character-container bg-[#F4A84CA1]">
            <img src="/assets/images/anxious.png" alt="">
          </div>
          
          <div class="sleep-info">
            <h4>Terrible</h4>
            <p>&lt 3 hours</p>
          </div>
          <div data-id="0" data-quality="terrible" class="sliding-part rounded-b-xl">
            <div class="circle"></div>
          </div>
          <div class="character-container bg-[#FF46397D]">
            <img src="/assets/images/angry.png" alt="">
          </div>
        </div>
        <div class="bottom-[4.5rem] min-[500px]:bottom-[80px] min-[1024px]:bottom-[16px] w-full flex px-4 justify-between items-center ">
          <button class="bg-[#00927C] rounded-full text-white font-medium text-sm py-1 px-6"><a routerLink="/dashboard">Skip</a></button>
          <button class="bg-[#00927C] rounded-full text-white font-medium text-sm py-1 px-6"><a routerLink="/qst2">Next</a></button>
        </div>
      </main>
    </div>
  </body>

