
<body class="w-screen bg-gray-300">
    <div class="w-full h-full flex">
      <!-- mobile-nav -->
      <nav
        class="min-[501px]:hidden z-10 w-full bg-white h-16 rounded-t-[50%] fixed bottom-0"
      >
        <div class="absolute mobile-nav-4">
          <a *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
            ><img class="absolute-center" src="/assets/icons/icons/home.svg" alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-active">
            <a *ngIf="user.id" [routerLink]="['/messages/', user.id]"
              ><img
                class="absolute-center"
                src="/assets/icons/icons/msg-mobile-active.svg"
                alt=""
            /></a>
          </div>
        <div class="absolute mobile-nav-2">
          <a *ngIf="user.id" [routerLink]="['/programs/', user.id]"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/programs.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-1">
          <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/community.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-3">
          <a *ngIf="user.id" [routerLink]="['/settings/', user.id]"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/settings.svg"
              alt=""
          /></a>
        </div>
      </nav>
      <!-- tablet-nav -->
      <nav
        class="max-[501px]:hidden min-[1024px]:hidden h-[64px] py-[8px] z-10 border-t-2 border-[silver] bg-white fixed bottom-0 w-full flex items-center justify-evenly"
      >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
          ><img
            class="w-7"
            src="/assets/icons/icons/dashboard.svg"
            alt=""
          /><span class="text-xs"
            >Dashboard</span
          ></a
        >
        
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/Programs/', user.id]"
          ><img
            class="w-7"
            src="/assets/icons/icons/programs.svg"
            alt=""
          /><span class="text-xs">Search</span></a
        >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/community/', user.id]"
          ><img
            class="w-7"
            src="/assets/icons/icons/community.svg"
            alt=""
          /><span class="text-xs ">Community</span></a
        >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/messages/', user.id]"
        ><img
          class="w-7"
          src="/assets/icons/icons/msg-active.png"
          alt=""
        /><span class="text-xs text-figma-nav-green">Messages</span></a
      >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/settings/', user.id]"
          ><img
            class="w-7"
            src="/assets/icons/icons/settings.svg"
            alt=""
          /><span class="text-xs">My Profile</span></a
        >
      </nav>
      <!-- desktop-nav -->
      <nav class="bg-white hidden lg:block w-1/4 overflow-y-auto px-3">
        <img src="/assets/images/text-logo.png" alt="" />
        <div *ngIf="user"  class="flex items-center gap-3 justify-center  mt-3">
            <img class="hidden xl:block xl:h-10 xl:w-10 rounded-full object-cover" [src]="user.profile_image" alt="Profile_Image"/>
            <div>
            <h1 class="text-lg font-medium"> {{ user.prenom }} {{ user.nom }}</h1>
            <p class="text-md font-medium text-[#61646B]"> {{ user.email }}</p>
           
        </div>
          </div>
          <div *ngIf="errorMessage">
            <p class="error">{{ errorMessage }}</p>
          </div>
        <ul class="w-fit flex flex-col mx-auto mt-8">
          <li class="nav-li">
            <img
              src="/assets/icons/icons/dashboard.svg"
              alt="Dashboard Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/dashboard/', user.id]">Dashboard</a>
          </li>
         
          <li class="nav-li">
            <img
              src="/assets/icons/icons/programs.svg"
              alt="Programs Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/programs/', user.id]">Search</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/community.svg"
              alt="Community Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
              >Community</a
            >
          </li>
          <li class="nav-li">
            <img
            src="/assets/icons/icons/msg-active.png"
              alt="Articles Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/messages/', user.id]" class="text-figma-nav-green underline-custom">Messages</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/settings.svg"
              alt="Settings Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/settings/', user.id]">My Profile</a>
          </li>
          <li class="nav-li mt-3">
            <img
              src="/assets/icons/icons/logout.svg"
              alt="Settings Icon"
              class="icon"
            />
            <a (click)="onLogout()" >Logout</a>
          </li>
        </ul>
      </nav>


      <main class="flex-1 flex flex-col overflow-y-auto bg-[#ccf0ec] pb-[calc(6rem)] min-[500px]:pb-[80px] min-[1024px]:pb-[0px]">
       
        <a (click)="onLogout()"  class="h-[30px] w-[30px] z-10 min-[1000px]:hidden fixed top-4 right-4"><img  src="/assets/icons/icons/logout-mobile.svg" alt="" (click)="onLogout()" ></a> 

        <div class="flex w-full">

          <!-- Section for Friends List -->
          <div class="w-1/4 bg-white p-4">
            <h2 class="text-lg font-medium">Friends</h2>
            <ul class="list-none mt-4">
              <li *ngFor="let friend of friends" 
                  (click)="selectFriend(friend.id)" 
                  [ngClass]="{'bg-blue-200': friend.id === selectedFriendId, 'cursor-pointer p-2 hover:bg-gray-200': true}" 
                  class="p-2">
                  <div class="flex justify-start items-center gap-2">
                <img [src]="friend.profile_image" class="h-10 w-10 rounded-full" alt="Friend Image" />
                <span>{{ friend.prenom }} {{ friend.nom }}</span>
              </div>
              </li>
            </ul>
          </div>
        
          <!-- Section for Messages -->
          
<div class="flex-1 bg-gray-100 p-4">
  <h2 class="text-lg font-medium">Conversation</h2>
  <div *ngIf="selectedFriendId && conversation.length > 0">
    <div *ngFor="let message of conversation">
      <!-- Message de l'utilisateur -->
      <div *ngIf="message.sender_id === userId" class="bg-blue-500 text-white p-2 rounded mb-2">
        <span class="font-bold">You:</span> {{ message.content }}
      </div>
      
      <!-- Message de l'ami -->
      <div *ngIf="message.sender_id !== userId" class="bg-gray-300 text-black p-2 rounded mb-2">
        <!-- Récupère le nom de l'ami en fonction de l'ID de l'expéditeur -->
        <span class="font-bold">{{ getFriendName(message.sender_id) }}:</span> {{ message.content }}
      </div>
    </div>
  </div>

  <div *ngIf="selectedFriendId && conversation.length === 0">
    <p class="text-gray-500">No messages yet. Start a conversation!</p>
  </div>


  <div *ngIf="selectedFriendId">
    
    <div class="mt-4 flex">
      <input [(ngModel)]="newMessage" type="text" placeholder="Type your message..." class="p-2 border rounded w-full" />
      <button (click)="sendMessage()" class="ml-2 p-2 bg-blue-500 text-white rounded">Send</button>
    </div>
  </div>
</div>




        </div>
        
        
          
      </main>
    </div>
  </body>

