
  <body class="w-screen h-screen bg-gray-300">
    <div class="relative w-full h-full flex">
     <!-- mobile-nav -->
     <nav
     class="min-[501px]:hidden z-10 w-full bg-white h-16 rounded-t-[50%] fixed bottom-0"
   >
     <div class="absolute mobile-nav-active">
       <a *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
         ><img
           class="absolute-center"
           src="/assets/icons/icons/home-mobile-active.svg"
           alt=""
       /></a>
     </div>
     <div class="absolute mobile-nav-1">
       <a *ngIf="user.id" [routerLink]="['/messages/', user.id]"
         ><img
           class="absolute-center"
           src="/assets/icons/icons/msg.png"
           alt=""
       /></a>
     </div>
     <div class="absolute mobile-nav-2">
       <a *ngIf="user.id" [routerLink]="['/programs/', user.id]"
         ><img
           class="absolute-center"
           src="/assets/icons/icons/programs.svg"
           alt=""
       /></a>
     </div>
     <div class="absolute mobile-nav-3">
       <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
         ><img
           class="absolute-center"
           src="/assets/icons/icons/community.svg"
           alt=""
       /></a>
     </div>
     <div class="absolute mobile-nav-4">
       <a *ngIf="user.id" [routerLink]="['/settings/', user.id]">
           <img
           class="absolute-center"
           src="/assets/icons/icons/settings.svg"
           alt=""
       /></a>
     </div>
   </nav>
   <!-- tablet-nav -->
   <nav
     class="max-[501px]:hidden min-[1024px]:hidden h-[64px] py-[8px] z-10 border-t-2 border-[silver] bg-white fixed bottom-0 w-full flex items-center justify-evenly"
   >
     <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
       ><img
         class="w-7"
         src="/assets/icons/icons/dashboard-active.svg"
         alt=""
       /><span class="text-xs text-figma-nav-green"
         >Dashboard</span
       ></a
     >
     
     <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/programs/', user.id]"
       ><img
         class="w-7"
         src="/assets/icons/icons/programs.svg"
         alt=""
       /><span class="text-xs">Programs</span></a
     >
     <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/community/', user.id]"
       ><img
         class="w-7"
         src="/assets/icons/icons/community.svg"
         alt=""
       /><span class="text-xs">Community</span></a
     >
     <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/messages/', user.id]"
       ><img
         class="w-7"
         src="/assets/icons/icons/msg.png"
         alt=""
       /><span class="text-xs">Messages</span></a
     >
     <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/settings/', user.id]"
       ><img
         class="w-7"
         src="/assets/icons/icons/settings.svg"
         alt=""
       /><span class="text-xs">Settings</span></a
     >
   </nav>
   <!-- desktop-nav -->
   <nav class="bg-white hidden lg:block w-1/4 overflow-y-auto px-3">
     <img src="assets/images/text-logo.png" alt="" />
     <div *ngIf="user"  class="flex items-center gap-3 justify-center  mt-3">
       <img class="hidden xl:block xl:h-10 xl:w-10 rounded-full object-cover" [src]="user.profile_image" alt="Profile_Image"/>
       <div>
       <h1 class="text-lg font-medium"> {{ user.prenom }} {{ user.nom }}</h1>
       <p class="text-md font-medium text-[#61646B]"> {{ user.email }}</p>
      
   </div>
     </div>
     <div *ngIf="errorMessage">
       <p class="error">{{ errorMessage }}</p>
     </div>
    
     <ul class="w-fit flex flex-col mx-auto mt-8">
       <li class="nav-li">
         <img
           src="/assets/icons/icons/dashboard-active.svg"
           alt="Dashboard Icon"
           class="icon"
           
         />
         <a class="text-figma-nav-green underline-custom" routerLink="/dashboard">Dashboard</a>
       </li>
       
       <li class="nav-li">
         <img
           src="/assets/icons/icons/programs.svg"
           alt="Programs Icon"
           class="icon"
         />
         <a *ngIf="user.id" [routerLink]="['/programs/', user.id]">Programs</a>
       </li>
       <li class="nav-li">
         <img
           src="/assets/icons/icons/community.svg"
           alt="Community Icon"
           class="icon"
         />
         <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
           >Community</a
         >
       </li>
       <li class="nav-li">
         <img
         src="/assets/icons/icons/msg.png"
           alt="Articles Icon"
           class="icon"
         />
         <a *ngIf="user.id" [routerLink]="['/messages/', user.id]">Messages</a>
       </li>
       <li class="nav-li">
         <img
           src="/assets/icons/icons/settings.svg"
           alt="Settings Icon"
           class="icon"
         />
         <a *ngIf="user.id" [routerLink]="['/settings/', user.id]">Settings</a>
       </li>
       <li class="nav-li mt-3">
         <img
           src="/assets/icons/icons/logout.svg"
           alt="Settings Icon"
           class="icon"
         />
         <a href="#">Logout</a>
       </li>
     </ul>
   </nav>
      <!-- Hero -->
      <main class="relative bg-[#FAFCD7] transition-colors flex-1 flex flex-col pt-2 h-full overflow-y-auto pb-[calc(6rem)] min-[500px]:pb-[80px] min-[1024px]:pb-[0px]">
        <div class="flex items-center justify-between px-4 pt-3"> 
          <h2 class=" text-figma-nav-green font-semibold text-base fixed mt-8">
            <a class="text-[#003059] flex absolute left-0 bottom-full text-sm gap-2  z-10 rounded-full px-2 cursor-pointer hover:bg-slate-500/35" href="question-2.html">
              <img src="/assets/icons/icons/Back.svg" alt="" class="text-[#003059] w-5 h-5 ">Back
            </a>
            Assessment
          </h2>
          <div class=" fixed flex items-center gap-4 right-4 mt-8">
            <span class="border-[1px] border-figma-nav-green  z-10 text-figma-nav-green font-semibold px-[12px] py-[4px] rounded-[30px] bg-[rgba(255,255,255,0.80)]">3 of 3</span>
            <div class=" flex justify-center p-[6px] "> 
              <div class="fixed z-0 w-[96] top-0 right-0 min-[370px]:-top-[40px]"> <img src="/assets/icons/icons/header.svg" alt="" class=""> </div> 
               <a href="home.html" class="h-[30px] w-[30px] z-10 min-[1000px]:hidden"><img  src="/assets/icons/icons/logout-mobile.svg" alt=""></a> 
            </div>
          </div>
        </div>
        <!-- big taille -->
        <div class="flex flex-col flex-1 items-center justify-center gap-4 max-[600px]:hidden max-[770px]:gap-2">
            <div class="flex justify-between w-full max-[600px]:w-10/12 ">

              <div class="flex justify-center items-center mt-10 w-[100%] ">
                <div class="w-[40%]  max-[770px]:w-[35%]   -mt-16 ">
                  <img src="/assets/images/joy-books.png" alt="" class="w-[100%] h-full"> 
                </div> 
                  <div class=" w-[50%] flex flex-col   items-center max-[770px]:gap-2">           
                    <div class="text-center text-[#003059] font-sans">
                      <h1 class="text-figma-blue text-2xl text-center
                       font-semibold px-4 mb-4 mt-2 max-[770px]:text-xl">How many hours did you study today?</h1> 
                    </div>                 
                  
                    <div class="text-center text-[#003059] font-sans justify-center">
                      <div class="h-24 w-20 max-[600px]:w-16 max-[600px]:h-16">
                        <div class="flex flex-col items-center">
                          <!-- Time Input -->
                          <div class="relative inline-flex items-center justify-center bg-white border border-gray-300 
                          max-[770px]:w-36 max-[770px]:h-20 
                          rounded-lg p-4 text-2xl font-semibold text-gray-800 w-40 h-24  ">
                            <div class="flex flex-row items-center ">
                              <div class="flex flex-col items-center mx-2  ">
                                <button onclick="increaseHours()" class="text-figma-blue text-sm ">
                                  <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.0833 22.1667L19 14.25L26.9166 22.1667H11.0833Z" fill="#003059"/>
                                    </svg></button>
                                <span id="hours-display" class="text-figma-blue max-[770px]:text-sm">06</span>
                                <button onclick="decreaseHours()" class="text-gray-600 text-sm"><svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M19 23.75L11.0833 15.8334H26.9166L19 23.75Z" fill="#003059"/>
                                  </svg>
                                  </button>
                              </div>
                              <div class="flex flex-col items-center mx-2">
                                <button onclick="increaseMinutes()" class="text-figma-blue text-sm"><svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M11.0833 22.1667L19 14.25L26.9166 22.1667H11.0833Z" fill="#003059"/>
                                  </svg></button>
                                <span id="minutes-display" class="text-figma-blue max-[770px]:text-sm">00</span>
                                <button onclick="decreaseMinutes()" class="text-gray-600 text-sm"><svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M19 23.75L11.0833 15.8334H26.9166L19 23.75Z" fill="#003059"/>
                                  </svg>
                                  
                                  </button>
                              </div>
                            </div>
                          </div>
                          
                          <span class="text-lg font-medium text-figma-blue mt-2 mb-2 ">Hours</span>
                        </div>
                      </div>
                    </div>
                    <p class="text-xl text-figma-blue mt-10 text-center font-light max-[770px]:text-lg  max-[770px]:mt-4">
                      No judgment here, this is  only for personal statistics!
                    </p>
                    <div class="bottom-[4.5rem]  w-full flex  justify-between items-center px-14 mt-6  max-[500px]:hidden max-[770px]:mt-2">
              <button class="bg-[#00927C] rounded-full text-white font-medium text-sm py-1 px-6 ">
                <a routerLink="/dashboard">Skip</a>
              </button>
              <button class="bg-[#003059] rounded-full text-white font-medium text-sm py-1 px-6">
                <a routerLink="/dashboard">Finish</a>
              </button>
            </div>
                  </div>
                </div>
                  
                 
            </div>
            
        </div>

        <!-- small taille  -->
        <div class="flex flex-col flex-1 items-center justify-center gap-4 min-[601px]:hidden">
          <div class="flex justify-between w-full max-[600px]:w-10/12 ">

            <div class="flex flex-col justify-center items-center mt-10 w-[100%] ">
              <div class="flex items-center justify-between">
              <div class="w-[50%]   ">
                <img src="/assets/images/joy-books.png" alt="" class="w-[100%] h-full"> 
              </div> 
              <div class=" flex text-[#003059] font-sans items-end">
                <h1 class="text-figma-blue text-lg 
                 font-semibold px-4 mb-4 ">How many hours did you study today?</h1> 
              </div> 
            </div>
                <div class="  flex flex-col   items-center gap-4">           
                                  
                
                  <div class="text-center text-[#003059] font-sans justify-center max-[600px]:order-2">
                    <div class="h-24 w-20 ">
                      <div class="flex flex-col items-center">
                        <!-- Time Input -->
                        <div class="relative inline-flex items-center justify-center bg-white border border-gray-300 rounded-lg p-4 text-xl font-semibold text-gray-800 w-36 h-20 ">
                          <div class="flex flex-row items-center ">
                            <div class="flex flex-col items-center mx-2 ">
                              <button onclick="increaseHours()" class="text-figma-blue text-sm">
                                <svg width="24" height="24" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M11.0833 22.1667L19 14.25L26.9166 22.1667H11.0833Z" fill="#003059"/>
                                  </svg></button>
                                 
                              <span id="hours-display" class="text-figma-blue">06</span>
                              <button onclick="decreaseHours()" class="text-gray-600 text-sm"><svg width="24" height="24" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 23.75L11.0833 15.8334H26.9166L19 23.75Z" fill="#003059"/>
                                </svg>
                                </button>
                            </div>
                            <div class="flex flex-col items-center mx-2">
                              <button onclick="increaseMinutes()" class="text-figma-blue text-sm"><svg width="24" height="24" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.0833 22.1667L19 14.25L26.9166 22.1667H11.0833Z" fill="#003059"/>
                                </svg></button>
                              <span id="minutes-display" class="text-figma-blue">00</span>
                              <button onclick="decreaseMinutes()" class="text-gray-600 text-sm"><svg width="24" height="24" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 23.75L11.0833 15.8334H26.9166L19 23.75Z" fill="#003059"/>
                                </svg>
                                
                                </button>
                            </div>
                          </div>
                        </div>
                        
                        <span class="text-lg font-medium text-figma-blue mt-2 mb-2 ">Hours</span>
                      </div>
                    </div>
                  </div>
                  <div class=" max-[600px]:order-1">
                  <p class="text-lg text-figma-blue  text-center font-light">
                    No judgment here, this is  only for personal statistics!
                  </p>
                </div>
                  <div class="bottom-[4.5rem]  w-full flex  justify-between items-center px-14 mt-6  max-[600px]:hidden">
            <button class="bg-[#00927C] rounded-full text-white font-medium text-sm py-1 px-6 ">
              <a routerLink="/dashboard">Skip</a>
            </button>
            <button class="bg-[#003059] rounded-full text-white font-medium text-sm py-1 px-6">
              <a routerLink="/dashboard">Finish</a>
            </button>
          </div>
                </div>
              </div>
                
               
          </div>
          
      </div>

        <div class=" bottom-[4.5rem] min-[500px]:bottom-[80px] min-[1024px]:bottom-[16px] w-full flex px-4 justify-between items-center  min-[601px]:hidden">
          <button class="bg-[#00927C] rounded-full text-white font-medium text-sm py-1 px-6"><a routerLink="/dashboard">Skip</a></button>

          <button class="bg-[#003059] rounded-full text-white font-medium text-sm py-1 px-6"><a routerLink="/dashboard">Finish</a></button>
        </div>

          
      </main>
    </div>
  </body>

