
  <body class="w-screen bg-gray-300">
    <div class="w-full h-full flex">
      <!-- mobile-nav -->
      <nav
        class="min-[501px]:hidden z-10 w-full bg-white h-16 rounded-t-[50%] fixed bottom-0"
      >
        <div class="absolute mobile-nav-4">
          <a *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
            ><img class="absolute-center" src="/assets/icons/icons/home.svg" alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-1">
          <a href="#"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/articles.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-2">
          <a *ngIf="user.id" [routerLink]="['/programs/', user.id]"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/programs.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-active">
          <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/community-mobile-active.svg"
              alt=""
          /></a>
        </div>
        <div class="absolute mobile-nav-3">
          <a *ngIf="user.id" [routerLink]="['/settings/', user.id]"
            ><img
              class="absolute-center"
              src="/assets/icons/icons/settings.svg"
              alt=""
          /></a>
        </div>
      </nav>
      <!-- tablet-nav -->
      <nav
        class="max-[501px]:hidden min-[1024px]:hidden h-[64px] py-[8px] z-10 border-t-2 border-[silver] bg-white fixed bottom-0 w-full flex items-center justify-evenly"
      >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
          ><img
            class="w-7"
            src="/assets/icons/icons/dashboard.svg"
            alt=""
          /><span class="text-xs"
            >Dashboard</span
          ></a
        >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/programsuggestion/', user.id]"
        ><img
          class="w-7"
          src="/assets/icons/icons/programs.svg"
          alt=""
        /><span class="text-xs">Articles</span></a
      >
        
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/programs/', user.id]"
          ><img
            class="w-7"
            src="/assets/icons/icons/search.svg"
            alt=""
          /><span class="text-xs">Search</span></a
        >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/community/', user.id]"
          ><img
            class="w-7"
            src="/assets/icons/icons/community-active.svg"
            alt=""
          /><span class="text-xs text-figma-nav-green">Community</span></a
        >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/messages/', user.id]"
        ><img
          class="w-7"
          src="/assets/icons/icons/msg.png"
          alt=""
        /><span class="text-xs">Messages</span></a
      >
        <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/settings/', user.id]"
          ><img
            class="w-7"
            src="/assets/icons/icons/settings.svg"
            alt=""
          /><span class="text-xs">My profile</span></a
        >
      </nav>
      <!-- desktop-nav -->
      <nav class="bg-white hidden lg:block w-1/4 fixed h-screen overflow-y-auto px-3">

        <img class="my-4" src="assets/images/emoticloud.png" alt="" />
        <div *ngIf="user"  class="flex items-center gap-3 justify-center  mt-3">
            <img class="hidden xl:block xl:h-10 xl:w-10 rounded-full object-cover" [src]="user.profile_image" alt="Profile_Image"/>
            <div>
            <h1 class="text-lg font-medium"> {{ user.prenom }} {{ user.nom }}</h1>
            <p class="text-md font-medium text-[#61646B]"> {{ user.email }}</p>
           
        </div>
          </div>
        <ul class="w-fit flex flex-col mx-auto mt-8  ">
          <li class="nav-li">
            <img
              src="/assets/icons/icons/dashboard.svg"
              alt="Dashboard Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/dashboard/', user.id]">Dashboard</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/programs.svg"
              alt="Programs Icon"
              class="icon"
            />
            <a class="" *ngIf="user.id" [routerLink]="['/programsuggestion/', user.id]">Articles</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/search.svg"
              alt="Programs Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/programs/', user.id]">Search </a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/community-active.svg"
              alt="Community Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/community/', user.id]" class="text-figma-nav-green underline-custom"
              >Community</a
            >
          </li>
          <li class="nav-li">
            <img
            src="/assets/icons/icons/msg.png"
              alt="Articles Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/messages/', user.id]">Messages</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/settings.svg"
              alt="Settings Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/settings/', user.id]">My Profile</a>
          </li>
          <li class="nav-li mt-3">
            <img
              src="/assets/icons/icons/logout.svg"
              alt="Settings Icon"
              class="icon"
            />
            <a (click)="onLogout()" >Logout</a>
          </li>
        </ul>
      </nav>


      <main class="flex-1 flex flex-col overflow-y-auto bg-[#ccf0ec] pb-[calc(6rem)] min-[500px]:pb-[80px] min-[1024px]:pb-[0px] lg:ml-[25%] ">

        <div class="z-30 flex place-items-end justify-end">
          <div class=" flex justify-center p-[6px] text-white "> 
            <div class="fixed w-60 z-0 top-0 right-0"> <img src="/assets/icons/icons/header.svg" alt="" class=""> </div> 
            <a (click)="onLogout()"  class="h-[30px] w-[30px] z-10 min-[1000px]:hidden fixed top-4 right-4"><img  src="/assets/icons/icons/logout-mobile.svg" alt=""  ></a> 
          </div>
          </div>
          <h1 class="mt-12 mb-4 mx-auto text-figma-blue text-xl lg:text-2xl font-semibold">Share your thoughts</h1>
          <div class="flex justify-center">
            <img src="/assets/images/joy.png" alt="" 
            class=" z-0 w-[50%] max-[600px]:w-[65%] max-[1000px]:ml-[-60px]  -mr-[300px]  -mt-36 -mb-20 min-[1000px]:-ml-[50px] min-[1000px]:-mr-[300px] min-[1015px]:-mr-[240px] max-[1020px]:-mr-[300px]
            max-[930px]:-mr-[290px] min-[1200px]:-mr-[300px] min-[1400px]:-mr-[320px]    max-[850px]:-mr-[260px]  max-[760px]:-mr-[240px]
            max-[690px]:-mr-[210px]  max-[630px]:-mr-[220px]
            max-[530px]:-mr-[190px] max-[410px]:-mr-[150px]
            max-[350px]:-mr-[130px]">
          <div class="w-[100%]">
        
        <div class="flex flex-col gap-[12px] p-4 w-[80%] mx-auto bg-white rounded-[16px] shadow
        max-[930px]:pl-12 pl-8">
          
          
        
        <div *ngIf="user"  class="flex items-start gap-3 justify-start  mt-3">
          <img class="w-[40px] h-[40px] xl:w-10 xl:h-10  rounded-full object-cover" [src]="user.profile_image" alt="Profile_Image"/>
          <div>
          <h1 class="text-lg font-medium"> {{ user.prenom }} {{ user.nom }}</h1>
         
      </div>
        </div>
          <!-- <img class="w-[32px] h-[32px] " src="./assets/avatar.png" alt=""> -->

          
            <textarea
                [(ngModel)]="newPostContent"
                placeholder="What’s on your mind?"
                class="text-figma-blue"
                rows="3">
            </textarea>
        
            <!-- <input type="file" (change)="onFileSelected($event)" /> -->
        
            <button
                (click)="addPost()"
                class="w-fit ml-auto px-3 py-1 text-white rounded-[16px] bg-[linear-gradient(87deg,#003059_0%,#0067BF_100%)]">
                Publish
            </button>
        
        
        </div>
      </div>
    </div>




    
    <div class="main-div md:grid md:grid-cols-2 flex-1">

            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

            <!-- Section des posts des amis -->
            <div class=" text-center order-2 md:order-1">
              <h2 class="mt-8 mb-4 mx-auto text-figma-blue text-xl font-semibold">Your friends' thoughts</h2>

              <div *ngIf="users.length > 0" class="space-y-2 overflow-y-auto max-h-80 scrollbar-thin
                px-4 rounded-lg
                scrollbar-thumb-figma-blue scrollbar-track-gray-200/0 scrollbar-corner-transparent">
              
                <div *ngFor="let friend of users">
                  <!-- Informations sur l'ami -->
                  <div class="friend">
                    <div class="friend-info flex justify-start items-center gap-2 py-2"  (click)="goToFriendProfile(user.id,friend.id)">
                      <img [src]="friend.profile_image" alt="Profile Image" class="profile-image w-8 rounded-full">
                      <p class="cursor-pointer hover:scale-105">{{ friend.prenom }} {{ friend.nom }}</p>
                      
                    
                
                      
                    </div>
              
                    <!-- Publications de l'ami -->
                    <div *ngIf="friend.posts && friend.posts.length > 0">
                      <div *ngFor="let post of friend.posts" class="mb-4">
                        <div class="post-content p-4 bg-white rounded-lg shadow-lg">
                          <p>{{ post.content }}</p>
                          <span  class="text-gray-500 text-xs ">{{ getTimeSince(post.updated_at) }}</span>
                          <div *ngIf="post.image" class="post-image mt-2">
                            <img [src]="post.image" alt="Post Image" class="w-full rounded-lg">
                          </div>
                        </div>
              
                        <!-- Réactions et commentaires -->
                        <div class="flex justify-between p-2 items-center">
                          <div class="post-actions space-x-2 flex justify-center gap-2 items-center">
                            <button (click)="addReaction(post.id, 'happy')" class="flex justify-center items-center gap-1">
                              {{ countReactions(post, 'happy') }}
                              <div class="reaction bg-[#F4F3AC] hover:scale-150">
                                <img src="/assets/images/happy.png" alt="" class="w-6 h-6">
                              </div>
                            </button>
                            <button (click)="addReaction(post.id, 'sad')" class="flex justify-center items-center gap-1">
                              {{ countReactions(post, 'sad') }}
                              <div class="reaction bg-[#6590ff] hover:scale-150">
                                <img src="/assets/images/sad.png" alt="" class="w-6 h-6">
                              </div>
                            </button>
                            <button (click)="addReaction(post.id, 'angry')" class="flex justify-center items-center gap-1">
                              {{ countReactions(post, 'angry') }}
                              <div class="reaction bg-[#ff8981] hover:scale-150">
                                <img src="/assets/images/angry.png" alt="" class="w-6 h-6">
                              </div>
                            </button>
                            <button (click)="addReaction(post.id, 'shy')" class="flex justify-center items-center gap-1">
                              {{ countReactions(post, 'shy') }}
                              <div class="reaction bg-[#F2E9EC] hover:scale-150">
                                <img src="/assets/images/shy.png" alt="" class="w-6 h-6">
                              </div>
                            </button>
                          </div>
              
                          <div class="comments-count">
                            <button (click)="openCommentsModal(post)" class="hover:underline">
                              {{ countComments(post) }} Comments
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
              
                    <!-- Message si aucun post -->
                    <div *ngIf="!friend.posts || friend.posts.length === 0" class="text-gray-500">
                      No posts available.
                    </div>
                  </div>
                </div>
              </div>
              
</div>


  
  <!-- Section des moods des amis -->
  <div class="  flex flex-col items-center order-2 ml-8 justify-center">
    <h1 class="mt-8 mb-4 mx-auto text-figma-blue text-xl font-semibold">Today, your friends are feeling:</h1>

    <div class="sm:grid sm:grid-cols-3 grid grid-cols-2 flex-1  gap-8 px-16 w-full py-6 min-[500px]:w-full md:px-4 overflow-x-auto  mx-auto 
    overflow-y-auto max-h-80 scrollbar-thin
   rounded-lg
  scrollbar-thumb-figma-blue scrollbar-track-gray-200/0 scrollbar-corner-transparent
    ">
      <div
        *ngFor="let friend of users"  (click)="goToFriendProfile(user.id,friend.id)"
        [ngClass]="moodStyles[friend.etats[0]?.mood]?.background || moodStyles['default'].background"
        class="friend-container py-4 rounded-lg shadow-md flex-shrink-0 cursor-pointer hover:scale-105"
      >
        <img
          [src]="moodStyles[friend.etats[0]?.mood]?.image || moodStyles['default'].image"
          alt="{{ friend.etats[0]?.mood || 'default' }}"
          class="-mb-4"
        />
        <p class="text-center absolute -bottom-4 text-xs whitespace-pre font-semibold text-figma-blue">
          {{ friend.nom }} {{ friend.prenom }}
        </p>
      </div>
    </div>
  </div>
    
  
          <!-- Modal pour afficher les commentaires -->
          <div *ngIf="selectedPostId" class="modal z-20 fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
            <div class="modal-content bg-white rounded-lg p-4 w-full max-w-md h-full max-h-96 overflow-hidden">
              <div class="flex justify-between items-center">
                <h3 class="text-lg font-semibold">comments</h3>
                <button (click)="closeCommentsModal()" class="text-red-700 hover:scale-150 font-bold text-3xl">x</button>
              </div>
          
              <!-- Liste des commentaires -->
              <div class="comments space-y-2 overflow-y-auto max-h-64 scrollbar-thin scrollbar-thumb-figma-nav-green scrollbar-track-gray-200/0">
                <div *ngFor="let comment of getCommentsForPost(selectedPostId)" class="p-2">
                  <div class="flex justify-start gap-2 items-center">
                    <img [src]="comment.profile" alt="" class="rounded-full w-6">
                    <p class="font-semibold">{{ comment.author }}:</p>
                    <span class="text-gray-500 text-xs">{{ getTimeSince(comment.updated_at) }}</span>
                  </div>
                  <p class="ml-8"> {{ comment.content }}</p>
                    <!-- Ligne horizontale sauf après le dernier commentaire -->
                  <!-- <hr class="border-gray-300 w-1/2 mx-auto pt-2"> -->
                </div>
              </div>
          
              <!-- Formulaire pour ajouter un commentaire -->
              <div class="flex justify-between items-center gap-2">
                <input
                  type="text"
                  [(ngModel)]="commentContents[selectedPostId]"
                  placeholder="Add a comment"
                  class="w-full border rounded px-2 py-1"
                />
                <button
                  (click)="addComment(selectedPostId, commentContents[selectedPostId])"
                  class="bg-figma-nav-green text-white px-4 py-1 rounded"
                >
                  Add
                </button>
              </div>
            </div>
          </div>
          



    
         
        </div>
      </main>
    </div>
  </body>

   <!-- <div class="reactions">
              <p>Réactions :</p>
              <ul>
                 Réactions de l'utilisateur 
                <li *ngFor="let reaction of user.reactions">
                  <span *ngIf="reaction.post_id === post.id">{{ reaction.type }}</span>
                </li>
            
                 Réactions des amis 
                <li *ngFor="let friend of users">
                  <ul>
                    <li *ngFor="let reaction of friend.reactions">
                      <span *ngIf="reaction.post_id === post.id">{{ reaction.type }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div> -->

            <!-- <div class="comments">
              <p>Commentaires :</p>
              <ul>
                
                <li *ngFor="let comment of user.comments">
                  <span *ngIf="comment.post_id === post.id">{{ comment.content }}</span>
                </li>
            
                
                <li *ngFor="let friend of users">
                  <ul>
                    <li *ngFor="let comment of friend.comments">
                      <span *ngIf="comment.post_id  === post.id">{{ comment.content }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div> -->


            <!-- <input type="text" [(ngModel)]="commentContents[post.id]" placeholder="Ajouter un commentaire">
        <button (click)="addComment(post.id, commentContents[post.id])">Ajouter Commentaire</button> -->