<!-- mobile-nav -->
<nav class="min-[501px]:hidden z-10 w-full bg-white h-16 rounded-t-[50%] fixed bottom-0">
    <div class="absolute mobile-nav-4">
      <a routerLink="/"><img class="absolute-center" src="./assets/icons/home.svg" alt="" /></a>
    </div>
    <div class="absolute mobile-nav-1">
      <a routerLink="/articles"><img class="absolute-center" src="./assets/icons/articles.svg" alt="" /></a>
    </div>
    <div class="absolute mobile-nav-2">
      <a routerLink="/programs"><img class="absolute-center" src="./assets/icons/programs.svg" alt="" /></a>
    </div>
    <div class="absolute mobile-nav-active">
      <a routerLink="/community"><img class="absolute-center" src="./assets/icons/community-mobile-active.svg" alt="" /></a>
    </div>
    <div class="absolute mobile-nav-3">
      <a routerLink="/settings"><img class="absolute-center" src="./assets/icons/settings.svg" alt="" /></a>
    </div>
  </nav>
  
  <!-- tablet-nav -->
  <nav class="max-[501px]:hidden min-[1024px]:hidden h-[64px] py-[8px] z-10 border-t-2 border-[silver] bg-white fixed bottom-0 w-full flex items-center justify-evenly">
    <a class="tablet-nav-item" routerLink="/">
      <img class="w-7" src="./assets/icons/dashboard.svg" alt="" /><span class="text-xs">Dashboard</span>
    </a>
    <a class="tablet-nav-item" routerLink="/articles">
      <img class="w-7" src="./assets/icons/articles.svg" alt="" /><span class="text-xs">Articles</span>
    </a>
    <a class="tablet-nav-item" routerLink="/programs">
      <img class="w-7" src="./assets/icons/programs.svg" alt="" /><span class="text-xs">Programs</span>
    </a>
    <a class="tablet-nav-item" routerLink="/community">
      <img class="w-7" src="./assets/icons/community-active.svg" alt="" /><span class="text-xs text-figma-nav-green">Community</span>
    </a>
    <a class="tablet-nav-item" routerLink="/settings">
      <img class="w-7" src="./assets/icons/settings.svg" alt="" /><span class="text-xs">Settings</span>
    </a>
  </nav>
  
  <!-- desktop-nav -->
  <nav class="bg-white hidden lg:block w-1/4 overflow-y-auto px-3">
    <img src="assets/text-logo.png" alt="" />
    <div class="flex items-center gap-3 justify-center mt-3">
      <img class="hidden xl:block xl:h-10 xl:w-10 rounded-full object-cover" src="assets/Elizabeth Gintama Icon.jpeg" alt="" />
      <div>
        <p class="text-lg font-medium">Elizabeth</p>
        <p class="text-md font-medium text-[#61646B]">Elizabeth@example.com</p>
      </div>
    </div>
    <ul class="w-fit flex flex-col mx-auto mt-8">
      <li class="nav-li">
        <img src="./assets/icons/dashboard.svg" alt="Dashboard Icon" class="icon" />
        <a routerLink="/">Dashboard</a>
      </li>
      <li class="nav-li">
        <img src="./assets/icons/articles.svg" alt="Articles Icon" class="icon" />
        <a routerLink="/articles">Articles</a>
      </li>
      <li class="nav-li">
        <img src="./assets/icons/programs.svg" alt="Programs Icon" class="icon" />
        <a routerLink="/programs">My Programs</a>
      </li>
      <li class="nav-li">
        <img src="./assets/icons/community-active.svg" alt="Community Icon" class="icon" />
        <a routerLink="/community" class="text-figma-nav-green underline-custom">Community</a>
      </li>
      <li class="nav-li">
        <img src="./assets/icons/settings.svg" alt="Settings Icon" class="icon" />
        <a routerLink="/settings">Settings</a>
      </li>
      <li class="nav-li mt-3">
        <img src="./assets/icons/logout.svg" alt="Logout Icon" class="icon" />
        <a routerLink="/logout">Logout</a>
      </li>
    </ul>
  </nav>
  