

  <body class="w-screen bg-gray-300">
    <div class="w-full h-full flex">
  <!-- mobile-nav -->
  <nav
  class="min-[501px]:hidden z-10 w-full bg-white h-16 rounded-t-[50%] fixed bottom-0"
>
  <div class="absolute mobile-nav-active">
    <a *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
      ><img
        class="absolute-center"
        src="/assets/icons/icons/home-mobile-active.svg"
        alt=""
    /></a>
  </div>
  <div class="absolute mobile-nav-1">
    <a *ngIf="user.id" [routerLink]="['/messages/', user.id]"
      ><img
        class="absolute-center"
        src="/assets/icons/icons/msg.png"
        alt=""
    /></a>
  </div>
  <div class="absolute mobile-nav-2">
    <a *ngIf="user.id" [routerLink]="['/programs/', user.id]"
      ><img
        class="absolute-center"
        src="/assets/icons/icons/programs.svg"
        alt=""
    /></a>
  </div>
  <div class="absolute mobile-nav-3">
    <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
      ><img
        class="absolute-center"
        src="/assets/icons/icons/community.svg"
        alt=""
    /></a>
  </div>
  <div class="absolute mobile-nav-4">
    <a *ngIf="user.id" [routerLink]="['/settings/', user.id]">
        <img
        class="absolute-center"
        src="/assets/icons/icons/settings.svg"
        alt=""
    /></a>
  </div>
</nav>
<!-- tablet-nav -->
<nav
  class="max-[501px]:hidden min-[1024px]:hidden h-[64px] py-[8px] z-10 border-t-2 border-[silver] bg-white fixed bottom-0 w-full flex items-center justify-evenly"
>
  <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/dashboard/', user.id]"
    ><img
      class="w-7"
      src="/assets/icons/icons/dashboard.svg"
      alt=""
    /><span class="text-xs "
      >Dashboard</span
    ></a
  >
  <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/programsuggestion/', user.id]"
  ><img
    class="w-7"
    src="/assets/icons/icons/programs-active.svg"
    alt=""
  /><span class="text-xs text-figma-nav-green">Articles</span></a
>
  <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/programs/', user.id]"
    ><img
      class="w-7"
      src="/assets/icons/icons/search.svg"
      alt=""
    /><span class="text-xs">Search</span></a
  >
  <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/community/', user.id]"
    ><img
      class="w-7"
      src="/assets/icons/icons/community.svg"
      alt=""
    /><span class="text-xs">Community</span></a
  >
  <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/messages/', user.id]"
    ><img
      class="w-7"
      src="/assets/icons/icons/msg.png"
      alt=""
    /><span class="text-xs">Messages</span></a
  >
  <a class="tablet-nav-item" *ngIf="user.id" [routerLink]="['/settings/', user.id]"
    ><img
      class="w-7"
      src="/assets/icons/icons/settings.svg"
      alt=""
    /><span class="text-xs">My Profile</span></a
  >
</nav>
    <!-- desktop-nav -->
    <nav class="bg-white hidden lg:block w-1/4 overflow-y-auto px-3">
        <img src="assets/images/text-logo.png" alt="" />
        <div *ngIf="user"  class="flex items-center gap-3 justify-center  mt-3">
          <img class="hidden xl:block xl:h-10 xl:w-10 rounded-full object-cover" [src]="user.profile_image" alt="Profile_Image"/>
          <div>
          <h1 class="text-lg font-medium"> {{ user.prenom }} {{ user.nom }}</h1>
          <p class="text-md font-medium text-[#61646B]"> {{ user.email }}</p>
         
      </div>
        </div>
        <div *ngIf="errorMessage">
          <p class="error">{{ errorMessage }}</p>
        </div>
       
        <ul class="w-fit flex flex-col mx-auto mt-8">
          <li class="nav-li">
            <img
              src="/assets/icons/icons/dashboard.svg"
              alt="Dashboard Icon"
              class="icon"
              
            />
            <a  [routerLink]="['/dashboard/', user.id]">Dashboard</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/programs-active.svg"
              alt="Programs Icon"
              class="icon"
            />
            <a class="text-figma-nav-green underline-custom" *ngIf="user.id" [routerLink]="['/programsuggestion/', user.id]">Articles</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/search.svg"
              alt="Programs Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/programs/', user.id]">Search</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/community.svg"
              alt="Community Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/community/', user.id]"
              >Community</a
            >
          </li>
          <li class="nav-li">
            <img
            src="/assets/icons/icons/msg.png"
              alt="Articles Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/messages/', user.id]">Messages</a>
          </li>
          <li class="nav-li">
            <img
              src="/assets/icons/icons/settings.svg"
              alt="Settings Icon"
              class="icon"
            />
            <a *ngIf="user.id" [routerLink]="['/settings/', user.id]">My Profile</a>
          </li>
          <li class="nav-li mt-3">
            <img
              src="/assets/icons/icons/logout.svg"
              alt="Settings Icon"
              class="icon"
            />
            <a (click)="onLogout()" href="#">Logout</a>
          </li>
        </ul>
      </nav>      
      <main      [ngClass]="{
        'bg-[#3971FF7D]': user.etats[user.etats.length - 1]?.mood === 'sad',
           'bg-[#FF46397D]': user.etats[user.etats.length - 1]?.mood === 'angry',
        'bg-[#DBD5FD]': user.etats[user.etats.length - 1]?.mood === 'afraid',
        'bg-[#F4A84CA1]': user.etats[user.etats.length - 1]?.mood === 'anxious',
        'bg-[#FAFCD7]': user.etats[user.etats.length - 1]?.mood === 'happy',
        'bg-[#d0d1f199]': user.etats[user.etats.length - 1]?.mood === 'bored',
        'bg-[#EED7DF]': user.etats[user.etats.length - 1]?.mood === 'shy',

      }" class=" flex-1 flex flex-col items-center overflow-y-auto pb-[calc(6rem)] min-[500px]:pb-[80px] min-[1024px]:pb-[0px]">
        <div class="flex place-items-end justify-end">
          <div class=" flex justify-center p-[6px] text-white "> 
            <div class="fixed w-60 z-0 top-0 right-0"> <img src="./assets/icons/header.svg" alt="" class=""> </div> 
            <a href="home.html" class="h-[30px] w-[30px] z-10 min-[1000px]:hidden fixed top-4 right-4"><img  src="./assets/icons/logout-mobile.svg" alt=""></a> 
          </div>
          </div> 
        <div [ngClass]="{
            'bg-[#3971FF7D]': user.etats[user.etats.length - 1]?.mood === 'sad',
            'bg-[#FF4639]': user.etats[user.etats.length - 1]?.mood === 'angry',
            'bg-[#9F86BAA3]': user.etats[user.etats.length - 1]?.mood === 'afraid',
            'bg-[#F4A84CA1]': user.etats[user.etats.length - 1]?.mood === 'anxious',
            'bg-[#BAC018]': user.etats[user.etats.length - 1]?.mood === 'happy',
            'bg-[#080959C9]': user.etats[user.etats.length - 1]?.mood === 'bored',
            'bg-[#ED2469]': user.etats[user.etats.length - 1]?.mood === 'shy'
          }" class="grid grid-cols-3 content-center items-center justify-center  w-[calc(100%-60px)] max-w-[500px] min-h-[180px] mx-[30px] mt-7 rounded-[30px] shadow">
          
          <p             [ngStyle]="{
            color: getMoodButtonTextColor(user.etats[user.etats.length - 1]?.mood || '') 
          }" class="col-span-2 place-self-center pl-4 w-full min-[450px]:w-2/3 text-lg min-[450px]:text-xl  font-semibold">These might help with how you’re feeling!</p>
          <img class="w-36 h-36 min-[380px]:w-40 min-[380px]:h-40 relative self-end ml-auto top-4 left-4"  [src]="'' + getMoodImagelifjenb(user.etats[user.etats.length - 1]?.mood || '')"
          [alt]="user.etats[user.etats.length - 1]?.mood" >
        </div>


        <div *ngIf="articles.length > 0" class="w-full p-8 grid gap-4 justify-center grid-cols-[repeat(auto-fit,_minmax(270px,_1fr))]">
<!-- Liste des articles -->
<div *ngFor="let article of articles" class="flex items-center gap-4 bg-white p-4 rounded-xl shadow-sm">
    <img class="w-20 h-20" src="./assets/placeholder.png" alt="">
    <div>
      <h3
      [ngStyle]="{
        color: getMoodButtonTextColor(user.etats[user.etats.length - 1]?.mood || '') 
      }"  class="text-base font-medium">
        {{ article.title }}
      </h3>
      <div class="flex justify-end">
      <button [ngClass]="{
        'bg-[#3971FF7D]': user.etats[user.etats.length - 1]?.mood === 'sad',
        'bg-[#FF4639]': user.etats[user.etats.length - 1]?.mood === 'angry',
        'bg-[#9F86BAA3]': user.etats[user.etats.length - 1]?.mood === 'afraid',
        'bg-[#F4A84CA1]': user.etats[user.etats.length - 1]?.mood === 'anxious',
        'bg-[#BAC018]': user.etats[user.etats.length - 1]?.mood === 'happy',
        'bg-[#080959C9]': user.etats[user.etats.length - 1]?.mood === 'bored',
        'bg-[#ED2469]': user.etats[user.etats.length - 1]?.mood === 'shy'
      }"  class="text-xs  flex justify-end mt-2 px-2 py-2 rounded" (click)="openModal(article)" ><span class="font-bold"   [ngStyle]="{
        color: getMoodButtonTextColor(user.etats[user.etats.length - 1]?.mood || '') 
      }" >See more</span></button>
    </div>   </div>
  </div>
  
  <!-- Modale pour la description de l'article -->
  <div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg w-1/3">
      <h2  class="text-xl font-semibold mb-4">{{ selectedArticle?.title }}</h2>
      <p>{{ selectedArticle?.description }}</p>
      <div class="mt-4 flex justify-end">
        <button (click)="closeModal()"  [ngClass]="{
            'bg-[#3971FF7D]': user.etats[user.etats.length - 1]?.mood === 'sad',
            'bg-[#FF4639]': user.etats[user.etats.length - 1]?.mood === 'angry',
            'bg-[#9F86BAA3]': user.etats[user.etats.length - 1]?.mood === 'afraid',
            'bg-[#F4A84CA1]': user.etats[user.etats.length - 1]?.mood === 'anxious',
            'bg-[#BAC018]': user.etats[user.etats.length - 1]?.mood === 'happy',
            'bg-[#080959C9]': user.etats[user.etats.length - 1]?.mood === 'bored',
            'bg-[#ED2469]': user.etats[user.etats.length - 1]?.mood === 'shy'
          }"  class="  px-4 py-2 rounded"><span class="font-bold"   [ngStyle]="{
            color: getMoodButtonTextColor(user.etats[user.etats.length - 1]?.mood || '') 
          }" >Close</span></button>
      </div>
    </div>
  </div>
  

     
        </div>
      </main>
    </div>
  </body>
